.dimension-no-data {
  height: 70vh;
  background-color: #f0be3e;
}

.title-no-data {
  text-align: center;
}

.no-data-icon {
  display: flex;
  justify-content: center;
  align-content: center;
  padding-top: 3%;
}

.message-no-data {
  padding-top: 2%;
  text-align: center;
}