  <h3 id="login-title">Ingreso</h3>
  <form id="login-form" [formGroup]="loginForm" (ngSubmit)="submitLogin()">
      <div class="form-group mb-2">
          <input
              type="text"
              class="form-control"
              [ngClass]="(loginForm.get('email')?.touched || loginForm.get('email')?.dirty ) && loginForm.get('email')?.invalid ? 'is-invalid' : ''"
              placeholder="Enter your Email here"
              formControlName="email"
              id="email"
              name="email"
          />
        <div class="invalid-feedback">
           <span>Ups there is something wrong please check it, this field is mandatory</span>
        </div>
        <!-- <pre>{{ loginForm.get('email')?.errors | json }}</pre> -->
      </div>
      <div class="form-group mb-2">
          <input
              type="password"
              class="form-control"
              [ngClass]="(loginForm.get('password')?.touched || loginForm.get('password')?.dirty ) && loginForm.get('password')?.invalid ? 'is-invalid' : ''"
              placeholder="Enter your password"
              formControlName="password"
              id="password"
              name="password"
          />
          <div class="invalid-feedback">
            <span>Ups there is something wrong, this field is mandatory</span>
         </div>

         <!-- <pre>{{ loginForm.get('password')?.errors | json }}</pre> -->
      </div>
      <div class="d-grid gap-2">
        <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid">
            <span>Sign in <i class="fas fa-beer"></i></span></button>
      </div>
  </form>