#login-title {
  text-align: center;
  color: #333;
}

#login-form {
  padding: 10%;
}

.btn-submit-login {
  border-radius: 1rem;
  padding: 1.5%;
  border: none;
  background-color: #0062cc;
  color: #fff;
  cursor: pointer;
}

