<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <div class="container-fluid">
    <a routerLink="/beers" routerLinkActive="active" ariaCurrentWhenActive="page" class="navbar-brand">Drunk APP</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
            <a class="nav-link active" routerLink="/beers" routerLinkActive="active" ariaCurrentWhenActive="page">Beer's Home</a>
        </li>
      </ul>
        <div class="container-fluid username-content">
          <span id="display-username" class="navbar-text align-items-left">
            <i class="far fa-user"></i> USERNAME
          </span>
        </div>
    </div>
  </div>
</nav>
