#register-title {
  text-align: center;
  color: #fff;
}

#register-msg {
  text-align: center;
  color: #d4a326;
}

#register-form {
  padding: 10%;
}

.btn-submit-register {
  border-radius: 1rem;
  padding: 1.5%;
  border: none;
  background-color: #fff;
  color: #d4a326;
  cursor: pointer;
}

.btn-submit-register-disabled {
  border-radius: 1rem;
  padding: 1.5%;
  border: none;
  background-color: #fff;
  color: red;
  cursor: pointer;
  text-align: center;
}

.forget-pwd {
  color: #0062cc;
  font-weight: 600;
  text-decoration: none;
}