.buttons-container {
  margin: 10px;
  display: flex;
  flex-direction: row;
}

.count-label {
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  font-size: 16px;
  height: 34px;
  padding-top: 5px;
  text-align: center;
  width: 30px;
}
.beer-detail {
  text-decoration: none;
}

.beer-detail:hover    {color: #f28e1c;}
.beer-detail:visited {color:gray;}
