.container-info {
  display: grid;
  gap: 2%;
  grid-template-columns: 76% 1fr;
  height: 85vh;
  border: 1px solid red;
}

.container-items {
  border: 1px solid blue;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1%;
  padding: 2% ;
}

.container-top-items {
  border: 1px solid green;
}