.container-info {
  display: grid;
  gap: 2%;
  grid-template-columns: 83% 1fr;
  height: 85vh;
}

.container-items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2%;
  padding: 2%;
}

.container-top-items {}

.container-empty {
  display: flex;
  align-content: center;
  justify-content: center;
}